.experience {
  text-align: center;
}
.experience > div {

  margin: 10px 70px;
  padding: 30px;
}
@media (max-width: 400px) {
  .experience > div {
    margin: 15px;
  }
  .experience > strong{
    font-size: 24px;
  }

  .ex-body{
    font-size: 14px;
  }
}

