.project{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    text-align: center;
    padding:5rem 3rem;
    margin: 3rem 7rem;
    box-shadow: 0px 0px 1.8rem 0px rgb(10% 10% 10% / 10%);
}
.project::-webkit-scrollbar {
    display: none;
    /* margin-top: 100px; */
  }
.grow{
    /* display: inline-block; */
    min-width: 35rem;
    max-width: 35rem;
    padding: 1rem;
    box-shadow: 0px 0px 1.8rem 0px rgb(10% 10% 10% / 10%);
    margin: 1rem 1.5rem;
}

strong{
    padding-top: 25px;
    font-size: 40px;
    font-weight: 300;
    

    @media (max-width:600px) {
        font-size:30px;
    }
}


a{
    text-decoration: none;
    display: block;
    padding: 0.5rem;
}

.project >div >h2{
    font-size: 1rem;
    padding: 1rem;
}
@media (max-width:670px) {
    .project{
        padding:20px 0.5px;
        margin: 2px 5px;
        box-shadow: none;
    }

}

@media (max-width:500px) {

    .project >div >h2{
        font-size: 1.5rem;
    }
    .description{
        font-size: 10px !important;
    }
}
.grow > img{
    height: 10rem;
}
Indicators{
    display: none;
}